/* customize scrollbar css */
#scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  background-color: #1f1f1f;
}

#scrollbar-custom::-webkit-scrollbar-track {
  border: 1px #1f1f1f solid;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px #1f1f1f inset;
}

#scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #731010;
  border: 1px solid #1f1f1f;
  border-radius: 16px;
}

#scrollbar-custom::-webkit-scrollbar:horizontal {
  height: 10px;
}

#scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #731010;
  border: 1px solid #1f1f1f;
}

#scrollbar-custom::-webkit-scrollbar-thumb:active {
  background-color: #731010;
  border: 1px solid #1f1f1f;
}
