#toggle {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  * {
    font-size: 2.5em;
  }
}