
$darRed : #731010;
$lightRed : #a80000;
$black : #1f1f1f;
$gray : #707070;
$white : #d4d4d4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $white;
  transition: all 0.5s ease;
}

body {
  // background: url('../media/background.jpg');
  // background-size: 100vw 100vh;
  // background-repeat: no-repeat;
  background-color: $black;
}

@import './Nav';
@import './Toggle';
